/* Header Styles */

header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}

p {
    color: black;
}

.uvLow {
    background-color: green;
}

.uvMod {
    background-color: yellow;
}

.uvHi {
    background-color: red;
}



