/* Header Styles */

* {
    padding: 5px;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}

.searchContainer {
    display: flex;
}

.currentContainer {
    display: flex;
}

.forecastContainer {
    display: flex;
}

.forecastTitle {
    display: block;
}

.day {
    margin: 5px;
    background-color: royalblue;
}

.forecastDate {
    font-weight: bold;
}

.uvLow {
    background-color: green;
}

.uvMod {
    background-color: yellow;
}

.uvHi {
    background-color: red;
}



